
<div class="example-card" *ngFor = "let data of dataSet">
    <div class="container">
      <img class="image" src="{{data.image}}">
      <h2 style="margin: 0 0 2px;"><b>{{data.title}}</b></h2>
      <div class="pillsContainer">
        <ul style="list-style: none; padding-inline-start: 0px;">
      <li class="pill">{{pills[0]}}</li>
      <li class="pill">{{pills[1]}}</li>
      <li class="pill">+{{pillsCount}}</li>
        </ul>
      </div>
      <div class="text" id="{{data.id}}">
        {{data.before}}<br><button id="{{data.id}}"
           class="{{expand}}"
           (click)="readMore(this)"
           >Check</button
         >
         <span class="{{ key }}"
           >{{data.after}}
           <span
           class="readLess"
           (click)="readLess(this)"
           > Read less</span></span
         >
       </div> 
    </div>
  </div> 

